@media (max-width:1400px){

      .cuadro {
    width: 300px;
    height: 300px;
  }

  h2 {
    font-size: 25px;
}

  .posterior {
    font-size: 13px;
  }

}

@media (max-width:1024px){

      .cuadro {
    width: 200px;
    height: 200px;
  }


  .posterior {
    font-size: 12px;
  }

}

