@media (min-width: 1201px) and (max-width:1400px){

      .cuadro {
    width: 300px;
    height: 300px;
  }

  h2 {
    font-size: 25px;
}

  .posterior {
    font-size: 14px;
  }

  .posterior ul {
    padding-right:20px;
    padding-left: 20px;
  }


}

@media (min-width: 1025px) and (max-width:1200px){

  .cuadro {
    width: 260px;
    height: 260px;
  }

  h2 {
    font-size: 22px;
}

  .posterior {
    font-size: 12.5px;
  }

    .posterior ul {
    padding-right:15px;
    padding-left: 15px;
  }

  #carrusel{
    height: 600px;
    margin-top: 40px;
}

.texto{
  font-size: 50px;
}

  .imagen img{
  width: 400px;
  height: 400px;
}

#caja1, #caja2, #caja3, #caja4{
  height: 400px;
  width: 400px;
}

.cuadrosoluciones .textosoluciones1,
.cuadrosoluciones .textosoluciones2 {
    font-size: 16px;
}

.cuadrosoluciones h2 {
    font-size: 28px;
}

.cuadrosoluciones .icono1,
.cuadrosoluciones .icono2 {
    width: 180px;
    height: 180px;
}

.icono {
  width: 120px;
}

}

@media (min-width: 866px) and (max-width:1024px){

  .cuadro {
    width: 230px;
    height: 230px;
  }

  h2 {
    font-size: 20px;
}

  .posterior {
    font-size: 11.5px;
  }

   .posterior ul {
    padding-right:10px;
    padding-left: 10px;
  }

  #carrusel{
    height: 500px;
     margin-top: 20px;
}

.texto{
  font-size: 45px;
}

  .imagen img{
  width: 350px;
  height: 350px;
}

#caja1, #caja2, #caja3, #caja4{
  height: 350px;
  width: 350px;
}

.cuadrosoluciones .textosoluciones1,
.cuadrosoluciones .textosoluciones2 {
    font-size: 14px;
}

.cuadrosoluciones h2 {
    font-size: 24px;
}

.cuadrosoluciones .icono1,
.cuadrosoluciones .icono2 {
    width: 160px;
    height: 160px;
}

.icono {
  width: 100px;
}

}

@media (min-width: 769px) and (max-width:865px){

  .cuadro {
    width: 180px;
    height: 180px;
  }

  h2 {
    font-size: 16px;
}

  .posterior {
    font-size: 8px;
  }

   .posterior ul {
    padding-right:10px;
    padding-left: 10px;
  }

  #carrusel{
    height:400px;
     margin-top: 10px;
}

.texto{
  font-size: 35px;
}

  .imagen img{
  width: 250px;
  height: 250px;
}

#caja1, #caja2, #caja3, #caja4{
  height: 250px;
  width: 250px;
}

.cuadrosoluciones .textosoluciones1,
.cuadrosoluciones .textosoluciones2 {
    font-size: 12px;
}

.cuadrosoluciones h2 {
    font-size: 20px;
}

.cuadrosoluciones .icono1,
.cuadrosoluciones .icono2 {
    width: 120px;
    height: 120px;
}

.icono {
  width: 90px;
}

}


@media (max-width:767px){



 .contenedor {

    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    gap: 5%; /* espacio entre cuadros */
    padding-left: 5%;
    padding-right: 5%;
  }

  .cuadro {
    width: 160px;
    height: 160px;
  }

  h2 {
    font-size: 14px;
}

  .posterior {
    font-size: 10px;
  }

  #carrusel{
    height: 150px;
     margin-top: 0px;
}

#seccionimagen{
   width: 39%;
}

#secciontexto{
   width: 60%;
}

.texto{
  font-size: 18px;
  padding-top: 10px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 10px;
  margin-right: 0px;
}

  .imagen img{
  width: 120px;
  height: 120px;

}

#caja1, #caja2, #caja3, #caja4{
  height: 120px;
  width: 120px;
  margin-top: 10px;
  margin-left: 20px;
}

#caja1{
  animation: desaparecer4 20s steps(1) infinite;
}

#caja2{
  animation: desaparecer3 20s steps(1) infinite;
}

#caja3{
  animation: desaparecer2 20s steps(1) infinite;
}

#caja4{
  animation: desaparecer1 20s steps(1) infinite;
}


.cuadrosoluciones .textosoluciones1,
.cuadrosoluciones .textosoluciones2 {
    font-size: 9px;
}

.cuadrosoluciones h2 {
    font-size: 18px;
}

.cuadrosoluciones .icono1,
.cuadrosoluciones .icono2 {
    width: 100px;
    height: 100px;
}

.icono {
  width: 80px;
}

 .contenedor-acordeon {
        display: grid;
        grid-template-columns:1fr; /* dos columnas */
        gap: 2%;
        max-width: 100%;
        margin: 0 auto;
        text-align: center; /* que el texto no quede centrado */
        padding-left: 2%;
        padding-right: 2%;
      }

      h1 {
    font-size: 30px;
}

.iconoredes{
  width: 30px;
}

.iconoredes1{
  width: 40px;
}

.logo{
    width: 150px;
}
    }


