@media (max-width:1400px){
      .cuadro {
    width: 300px;
    height: 300px;
  }
        h2 {
    font-size: 25px;
}

  .posterior {
    font-size: 13px;
  }
}

@media (max-width:800px){

      .cuadro {
    width: 270px;
    height: 270px;
  }


  .posterior {
    font-size: 12px;
  }




